# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BENDOVER_LEFT

config ZMK_KEYBOARD_NAME
    default "Bendover"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_BENDOVER_LEFT || SHIELD_BENDOVER_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_BENDOVER_LEFT 

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
